<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">

      <button mat-menu-item (click)="goToHomeMenu()" >
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <button mat-menu-item (click)="sendMessage()" [disabled]="!isAuthenticated" *ngIf="isAuthenticated">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>My Account</span>
      </button>

      <button mat-menu-item [disabled]="isAuthenticated" *ngIf="!isAuthenticated" (click)="register()">
        <mat-icon>account_circle</mat-icon>
        <span>Register</span>
      </button>

      <button mat-menu-item  [disabled]="isAuthenticated" *ngIf="!isAuthenticated" routerLink="/agents">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>

      <button mat-menu-item routerLink="/home" [disabled]="!isAuthenticated" (click)="doLogout()" *ngIf="isAuthenticated">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>

    </mat-menu>
  </span>
  <span class="fill-remaining-space">{{title}}</span>
</mat-toolbar>
<app-subtool></app-subtool>
<router-outlet></router-outlet>